<%= form_with(model: pokemon, local: true) do |form| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :pokemon_number %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :pokemon_title %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :pokemon_type %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :pokemon_image %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :pokemon_gender %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :pokemon_slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
